<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- If device number is not present then the app will present a list of devices to select -->
    <add key="deviceNumber" value="" />
    <!-- This is the mac address to watch for that has sent out NBNS queries. If this is empty then
    	 the mac address of the specified device will be used -->
    <add key="captureMacAddress" value="" />
    <add key="captureReadTimeout" value="1000" />
    <!-- If this is set to true then the local proxy will be used -->
    <add key="enableLocalProxy" value="true" />
    <!-- IP address of the proxy that is returned in the pac file -->
    <!-- If enableLocalProxy is true then you can specify the ip address to bind to or leave it blank 
         and let the code find the ip address for the specified device -->
    <!-- If enableLocalProxy is false then this is the ip address of the remote proxy server -->
    <add key="proxyServer" value="" />
    <!-- If enableLocalProxy is true then this is the port that the proxt server will bind to -->
    <!-- If enableLocalProxy is false then this is the port of the remote proxy server -->
    <add key="proxyPort" value="8080" />
    <!-- Port that the server will bind to in order to server up requests for wpad.dat-->
    <add key="pacFileHostPort" value="80" />
    <add key="waitTimeout" value="2000"/>
  </appSettings>  
</configuration>