<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Crypto.dll" version="1.8.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net452" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net45" />
</packages>